# Data
logs/
stores/blob
stores/model/.trash/
# data/

# Packaging
venv/
*.egg-info/
__pycache__/

# Unit test / coverage reports
.coverage
.coverage.*

# Misc
.DS_Store
practice/
mlruns
great_expectation_try.ipynb
