# Data
logs/
stores/
# stores/blob
# stores/model/.trash/
# data/

# VSCode
.vscode/
.idea

# IPython
.ipynb_checkpoints

# pyenv
.python-version

# Distribution / packaging
build/
*.egg-info/
__pycache__/

# Environment
venv/

# Unit test / coverage reports
.coverage
.coverage.*

# Airflow
airflow/airflow.db

# Misc
.DS_Store
practice/
mlruns
great_expectation_try.ipynb
pyproject.*
